*{
    /* outline: 1px solid red; */
}
div.col-4 img{
    height: 30px;
}

div.col-4 a{
    font-size: 1.5rem;
    color: rgb(117, 117, 117);
    text-decoration: none;
}

div.col-4 a:hover{
    text-decoration: underline;
    color: rgb(117, 117, 117);
}

.ms_avatar{
    height: 50px;
    cursor: pointer;
}

header{
    border-bottom: 1px solid lightgray;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
}

header ul{
    list-style: none;
    margin-bottom: 0;
    padding: 0;
}

header ul li{
    display: inline-block;
    margin: 0 10px;
    line-height: 48px;
}

.ms_active{
    border-bottom: 4px solid rgb(81, 81, 255);
    color: rgb(81, 81, 255);
}

main{
    margin-top: 150px;
}

main h2{
    margin-top: 4rem;
    margin-bottom: 2rem;
}

main p{
    margin-bottom: 2rem;
    line-height: 1.6rem;
}

main a {
    text-decoration: none;
}

main ol{
    margin-bottom: 2rem;
}

main ol li {
    margin-bottom: 1rem;
}

main ol ol {
    margin-top: 1rem;
    list-style-type: lower-alpha;
}